@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://cdn.jsdelivr.net/font-nanumlight/1.0/nanumbarungothicweb.css');

@point-color: #f58214;
@yellow-color : #fac846;
@red-color: #b6202a;
@orange-color:#dc4600;
@grey-color: #323232;
@default-color:#323232;
@img-url : '/innovation/CA/mobile/img';

@mobile-small:  ~"only screen and (max-width: 340px)";
@mobile-medium: ~"only screen and (max-width: 480px)";
@mobile:        ~"only screen and (max-width: 768px)";
@tablet:        ~"only screen and (max-width: 1024px)";
@desktop:       ~"only screen and (max-width: 1120px)";
@desktop-small: ~"only screen and (max-height: 768px)";
@retina:        ~"only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)" ;

.tb() {background:red;display:block;}
.clearfix(){
  &:before,
  &:after {
    content: " ";
    display: table;
}
&:after { clear: both; }
& { *zoom: 1; }
}
.sp-img(@position) {
    background-image: url('@{img-url}/sprite.png');
    background-position:@position;
    background-repeat:no-repeat;
    background-size: 200px;
}
// Default
body {
    margin: auto;
    font-size: 15px;
    font-family: 'Roboto','NanumBarunGothic',sans-serif;
    // font-family: 'NotoSansKR','맑은 고딕','Malgun Gothic','나눔고딕','NanumGothic','Noto Sans KR','Source Han Sans',sans-serif;
    font-weight: 300;
    color: @default-color;
}
a {
    color: @default-color;
    text-decoration: none;
}
svg, video {
    vertical-align: top;
}
#viewport {
    padding-top: 50px;
    max-width: 640px;
    margin: auto;
}
p {
    margin: 16px 0;
    word-break: keep-all;
    font-size: 15px;
    line-height: 1.6;
}
